.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
  padding: 50px 0 0px;
}
.intro-header .site-heading > h1 {
  padding-bottom: 20px;
}
.intro-header .site-heading .subheading {
  padding: 20px;
}
.post-photo-graphic {
  width: 472px;
  height: 368px;
}
.post-title {
  text-align: center;
  padding: 10px;
}
.title {
  color: black;
  padding-top: 20px;
}
header {
  font-family: 'Raleway', sans-serif;
}
body {
  font-family: 'Raleway', sans-serif;
  /*font-size: 15px;*/
  color: #404040;
}
p {
  line-height: 1.5;
  margin: 15px 0;
  color: black;
}
p a {
  text-decoration: underline;
}

p.red {
  color: #FF0000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}
a {
  color: #152fc2;
}
a:hover,
a:focus {
  color: #0085a1;
}
a img:hover,
a img:focus {
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
blockquote {
  color: #808080;
  font-style: italic;
}
hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: #FFFFFF;
}
.navbar-custom {
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  font-family: 'Raleway', sans-serif;
}
.navbar-brand {
  padding:0 0 0 10px !important;
}
.navbar-custom .navbar-brand {
  font-weight: 800;
}
.navbar-custom .navbar-brand > img {
  padding-bottom: 5px;
  height: 60px;
}
.navbar-custom .nav li a {
  /* text-transform: uppercase; */
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
}
.display-block {
  display: block;
}

/* Sergio additions */

.light-grey > a {
  color: #777;
  text-decoration: none;
}
.dark-grey {
  color: #404040;
  text-decoration: none ;
}

.search-avatar {
  width: 178px !important;
  height: 250px !important;
  object-fit: cover;
}
.center {
  text-align: center;
}
.display-inline {
  display: inline-block;
}

.photo-author {
  margin: auto;
  width: 180px;
  border-radius: 3px;
  border: 1px solid #ccc;
}
.photo-author:hover {
  border: 1px solid #777;
}
.photo-author img {
  border-radius: 3px 0 3px 0;
  height: auto;
}

.author-container {
  box-sizing: border-box;
  float: left;
}

.author-name {
  padding: 15px;
  text-align: center;
}

@media only screen and (max-width: 770px) {
  .author-container {
    padding: 10px;
    width: 49.999999%;
  }
}

@media only screen and (min-width: 771px) {
  .author-container {
    padding: 15px;
    width: 33.333333%;
  }
}

/* Search Page */
.search-input {
  width: 100%;
  border-color: #d6d7d8;
  border-radius: 15px;
  border-width: 1px;
  padding-left: 10px;
  margin-top: 10px;
  outline: none;
}
.search-input:focus {
  border-color: #878787;
}

/* Downloads Page */
.inst-guide { padding-top: 25px;}
.rel_date { float: right; }
.sha256 { display: block;}
/* Documentation Page */
.doc-header-title {
  padding: 0px 0 0 0;
  text-align: center;
}
/* Index page */
.index-p {
  padding-top: 20px;
  text-align: left;
}
.ellipsis-two-lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  max-height: 3;
}
.ellipsis-one-line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  max-height: 1.5;
}
.subheading, article {
  text-align: justify;
}
.post-preview {
  display: inline-block;
  width: 100%;
  background: white;
}
.post-preview-authors {
  padding-top: 5px;
  color: grey;
}
.post-avatar,
.post-avatar-wp {
  float: left;
}
.post-avatar-wp {
  width: none !important;
}
.post-avatar > img {
  border-radius: 3px;
}


.index-img {
    width: 45%;
}

@media only screen and (max-width: 470px) {
  .post-avatar-wp {
    width: 23%;
  }
  .post-avatar {
    width: 15%;
  }
  .index-img {
    padding-top: 20px;
    width: 75%;
  }
  .post-info {
    width: 74%;
  }
}

@media only screen and (min-width: 471px) and (max-width: 570px) {
  .index-img {
    padding-top: 20px;
  }
  .post-info {
    width: 79%;
  }
}

@media only screen and (min-width: 571px) and (max-width: 699px) {
  .index-img {
    padding-top: 20px;
  }
  .post-info {
    width: 83%;
  }
}

@media only screen and (max-width: 700px) {
  .h1-title {
    font-size: 1.5em;
  }
  .topic-title {
    font-size: 1.3em;
    margin-top: 0px;
  }
  .post-info {
    float: right;
  }
  .shadowbox {
    padding: 10px 6px 6px 8px;
    margin: 10px 0 5px 0;
    border-radius: 3px;
  }
  .post-avatar img,
  .post-avatar-wp img {
    height: 80px;
    width: 80px;
  }
  .post-preview-title {
    margin:1px 0 1.5px 0 !important;
    height: 24px;
  }
  .post-preview-title {
    font-size: .8em !important;
  }
  .post-preview-subtitle {
    line-height: 1.2 !important;
    padding:3px 0 0 0 !important;
    height: 41px;
    font-size: .7em;
  }
  .post-preview-authors {
    height: 15px;
    font-size: .65em;
    top: 10px;
  }
  .see-more {
    font-size: 1.1em;
  }
}
@media only screen and (min-width: 701px) {
  .index-img {
    padding-top: 70px;
  }
  .topic-title {
    margin-top: 0px;
  }
  .shadowbox {
    padding: 10px 20px 10px 20px;
    margin: 1px 0 2px 0;
    border-radius: 10px;
  }
  .post-info {
    width: 75%;
    float: right;
  }
  .post-avatar img,
  .post-avatar-wp img {
    height: 130px;
    width: 130px;
  }
  .post-preview-title {
    margin:2px 0 3px 0 !important;
    height: 40px;
  }
  .post-preview-subtitle {
    margin:4px 0 4px 0 !important;
    height: 62px;
  }
}
/* End Sergio additions */

@media only screen and (min-width: 768px) {
  .navbar-custom {
    background: #52834f;
    border-bottom: 1px solid transparent;
    border-color: #000000
  }
  .navbar-custom .navbar-brand {
    color:black;
  }
  .navbar-custom .navbar-brand:hover,
  .navbar-custom .navbar-brand:focus {
    color: #005BC2
  }
  .navbar-custom .nav li a {
    color: white;
    padding: 20px;
  }
  .navbar-custom .nav li a:hover,
  .navbar-custom .nav li a:focus {
    color: black;
  }
}
@media only screen and (min-width: 1170px) {
  .navbar-custom {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .navbar-custom.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -61px;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #f2f2f2;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .navbar-custom.is-fixed .navbar-brand {
    color: #404040;
  }
  .navbar-custom.is-fixed .navbar-brand:hover,
  .navbar-custom.is-fixed .navbar-brand:focus {
    color: #0085a1;
  }
  .navbar-custom.is-fixed .nav li a {
    color: #404040;
  }
  .navbar-custom.is-fixed .nav li a:hover,
  .navbar-custom.is-fixed .nav li a:focus {
    color: #0085a1;
  }
  .navbar-custom.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
.intro-header {
  background-color: #808080;
  background: no-repeat center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.front-page-start-container {
  padding-top: 20px;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading h1,
  .intro-header .page-heading h1 {
    font-size: 55px;
  }
}
.intro-header .site-heading,
.intro-header .page-heading {
  text-align: center;
}
.intro-header .site-heading .subheading,
.intro-header .page-heading .subheading {
  font-size: 16px;
  line-height: 1.1;
  display: block;
  font-weight: 300;
  margin: 20px 0 0;
}

@media only screen and (max-width: 768px){
  .no-show {
    display: none !important;
  }
}

.post-heading {
  padding: 0 !important;
}
.intro-header .post-heading h1 {
  font-size: 35px;
}
.intro-header .post-heading .subheading,
.intro-header .post-heading .meta {
  line-height: 1.0;
  display: block;
}
.intro-header .post-heading .subheading {
  color:black;
  font-family: 'Lusitana', serif;
  font-size: 24px;
  margin: 0px 0 30px;
  font-weight: 600;
}
.intro-header .post-heading .meta {
  font-family: 'Lora', 'Times New Roman', serif;
  font-style: italic;
  font-weight: 300;
  font-size: 15px;
}
.intro-header .post-heading .meta a {
  color: rgb(43, 74, 173);
}
@media only screen and (min-width: 768px) {
  .intro-header .post-heading h1 {
    font-size: 45px;
  }
  .intro-header .post-heading .subheading {
    font-size: 30px;
  }
}
.post-preview > a {
  color: #404040;
}
.post-preview > a:hover,
.post-preview > a:focus {
  text-decoration: none;
  color: #0085a1;
}
.post-preview > a > .post-title {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 0px;
}
.post-preview > a > .post-subtitle {
  margin: 0;
  font-weight: 300;
  margin-bottom: 0px;
}
.post-preview > .post-meta {
  color: #808080;
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
}
.post-preview > .post-meta > a {
  text-decoration: none;
  color: #404040;
}
.post-preview > .post-meta > a:hover,
.post-preview > .post-meta > a:focus {
  color: #0085a1;
  text-decoration: underline;
}
@media only screen and (min-width: 768px) {
  .post-preview > a > .post-title {
    font-size: 20px;
  }
}
.section-heading {
  font-size: 26px;
  margin-top: 60px;
  font-weight: 700;
}
.caption {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
footer {
  padding-bottom: 20px;
}
footer .list-inline {
  margin: 0;
  padding: 0;
}
footer .copyright {
  font-size: 14px;
  text-align: center;
  margin-bottom: 0;
}
.floating-label-form-group {
  font-size: 14px;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eeeeee;
}
.floating-label-form-group input,
.floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-radius: 0;
  font-size: 1.5em;
  background: none;
  box-shadow: none !important;
  resize: none;
}
.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: 0.85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  -webkit-transition: top 0.3s ease,opacity 0.3s ease;
  -moz-transition: top 0.3s ease,opacity 0.3s ease;
  -ms-transition: top 0.3s ease,opacity 0.3s ease;
  transition: top 0.3s ease,opacity 0.3s ease;
}
.floating-label-form-group::not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #eeeeee;
}
.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}
.floating-label-form-group-with-focus label {
  color: #0085a1;
}
form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eeeeee;
}
.btn {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 7px;
  font-weight: 800;
  letter-spacing: 1px;
  border-radius: 1;
  padding: 5px 15px;
  border-color: #000000
}

@media only screen and (min-width: 768px) {
  .btn {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 1;
    padding: 5px 15px;
    border-color: #000000
  }
}


.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}
.btn-default:hover,
.btn-default:focus {
  background-color: #0085a1;
  border: 1px solid #0085a1;
  color: white;
}
.pager {
  margin: 20px 0 0;
}
.pager li > a,
.pager li > span {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 10px 5px;
  background-color: white;
  border-radius: 0;
}
@media only screen and (min-width: 768px) {
  .pager li > a,
  .pager li > span {
    font-size: 14px;
    padding: 15px 25px;
  }
}
.pager li > a:hover,
.pager li > a:focus {
  color: white;
  background-color: #0085a1;
  border: 1px solid #0085a1;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #808080;
  background-color: #404040;
  cursor: not-allowed;
}
::-moz-selection {
  color: rgb(255, 255, 255);
  text-shadow: none;
  background: #0085a1;
}
::selection {
  color: white;
  text-shadow: none;
  background: #0085a1;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}
body {
  background-color: #f8f8f8;
}

div.notepad-index-post-tags {
    font-size: 16px;
    float: none;
    color: black;
    padding-top: 1.25rem;
    padding-bottom: 0.625rem; }
.notepad-index-post-tags a {
	display: inline-block;
	padding: 0.3125rem 0.9375rem;
	margin-right: 0.1875rem;
	color: black;
	border: 0.0625rem solid black;
	border-radius: 0.125rem;
	margin-bottom: 0.3125rem; }
.notepad-index-post-tags a:hover {
	color: #e51843;
	border: 0.0625rem solid #e51843; }

table {

}

th {
	border-bottom-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1px;
  border-collapse: collapse;
  padding: 6px;
  vertical-align: center
}

div.float-right{
  width:300px;
  position:fixed;
  right:0;
	/* margin-top:50px; */
	margin-right:2%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.float-left {
  width:300px;
  position:fixed;
  left:0;
	/* margin-top:50px; */
	margin-left:2%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 1500px) {
	div.float-left{
	display: none !important;
	}
	div.float-right{
	display: none !important;
	}
}

hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

#wrapper {
  height: 250px;
  width: 100%;
  overflow: auto;
}

.shadowbox{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


body
{
counter-reset: theorem;
counter-reset: definition;
}

.theorem {
    counter-increment: theorem;
    display: block;
    margin: 12px 0;
    font-style: italic;
}
.theorem:before {
    content: "Theorem " counter(theorem) ".";
    font-weight: bold;
    font-style: normal;
}

.lemma {
    counter-increment: theorem;
    display: block;
    margin: 12px 0;
    font-style: italic;
}
.lemma:before {
    content: "Lemma.";
    font-weight: bold;
    font-style: normal;
}

.proof {
    display: block;
    margin: 12px 0;
    font-style: normal;
}
.proof:before {
    content: "Proof.";
    font-style: italic;
}
.proof:after {
    content: "\25FC";
    float:right;
}

.definition {
    display: block;
    margin: 12px 0;
    font-style: normal;
}
.definition:before {
    content: "Definition.";
    font-weight: bold;
    font-style: normal;
}

.btn-primary {
  color: #fff;
  background-color: #0076a8
}
.btn-success {
  color: #fff;
  background-color: #942947}

  
