<!-- Footer -->
<footer>
  <hr>
  <div class="container">
    <div class="row">
      <ul class="list-inline text-center">
        <li style="margin-right: 50px;">
          <img style="width: 250px;" src="{{ "/img/logos/logo_DyCon.png " | prepend: site.baseurl }}" alt="">
        </li>
        <li style="padding-bottom: 5px;">
          <img style="width: 230px;" src="{{ "/img/logos/logo_CCM_subDerecha_v002.png " | prepend: site.baseurl }}" alt="">
        </li>
      </ul>
    </div>
  </div>
</footer>
