<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand" href="{{ site.baseurl }}/">
                 <img src="{{site.url}}/{{site.baseurl}}//assets/logo_DyCon.png">
            </a> -->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ site.baseurl }}/">Home</a>
                </li>
                {% assign qposts = site.pages |where:"layout","project"|sort: "position" %}
                {% for page in qposts %}
                    {% if page.title == "Courses" %}
                        {% continue %}
                    {% endif %}
                {% if page.title == "Authors" %}
                    {% continue %}
                {% endif %}                   
                <li>
                    <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                </li>
                {% endfor %}
                <li>
                        <a href="{{site.url}}{{site.baseurl}}/projects/search.byWP">Sitemap</a>
                </li>
                <li>
                        <a href="http://cmc.deusto.eus/">Chair of Computational Mathematics</a>
                </li>
                
            </ul>

        
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
