---
layout: default
---
<!-- Post Header -->
<header class="intro-header">
  <div class="container" style="padding-top: 70px;">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-heading" style="padding: 0px 0">
          <h1>{{ site.data.members[page.author].name }}</h1>
        </div>
      </div>
		</div>
	</div>
</header>
<article>
  <div id="content" class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <p>{{site.data.members[page.author].description}}</p>
        <h1>Tutorials</h1>
        {% for post in site.posts %}
          {% if post.layout contains 'tutorial' and post.author contains page.author %}
            <div class="shadowbox post-preview">
              <a class="display-block" href="{{site.url}}{{site.baseurl}}/{{post.url}}">
                <h3 class="post-title"> {{ post.title }} </h3>
              </a>
              <p class="post-subtitle">
                {{ post.description }}
              </p>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</article>
<hr>
