<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<head>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['table']});
    google.charts.setOnLoadCallback(drawTable);

    function drawTable() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Name');
      data.addColumn('number', 'Nº of Posts');
      data.addColumn('date', 'Date of Last Post');
      data.addColumn('string', 'Name of Last Post');


      data.addRows([
        {% assign authors = site.data.members | sort  %}
        {%- for author in authors -%}     
        {%- assign qpost        = site.posts|where:"layout","tutorial"|where:"author",author[0] -%}
        {%- assign lastpost     = qpost[0].date | date: '%Y,%m,%d' -%}
        {%- assign lastpostname = qpost[0].title -%}

        {%- assign npost    = qpost|size -%}
        {%- if npost==0 -%}{% continue %}{%- endif -%}
        ['{{author[1].name}}',  {{npost}} , new Date({{lastpost}}),'{{lastpostname}}'],
        {% endfor %}
      ]);

      var table = new google.visualization.Table(document.getElementById('table_div'));

      table.draw(data, {showRowNumber: true, width: '100%', height: '100%'});
    }
  </script>

<script type="text/javascript">
  google.charts.load('current', {'packages':['table']});
  google.charts.setOnLoadCallback(drawTable);

  function drawTable() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Name');
    data.addColumn('string', 'Author');
    data.addColumn('date', 'expected date');

    data.addRows([
    {%- assign qposts = site.posts | where:"layout","pretutorial"|sort -%}
    {% for post in qposts %}
      ['{{post.title}}', '{%- for aut in post.author -%}{{site.data.members[aut].name}} * {%- endfor -%}'  , new Date("{{post.date | date: '%Y-%m-%d'}}")],
    {%- endfor -%}
    ]);

    var table = new google.visualization.Table(document.getElementById('table_div_upc'));

    table.draw(data, {showRowNumber: true, width: '100%', height: '100%'});
  }
</script>


<script type="text/javascript">
  google.charts.load('current', {'packages':['table']});
  google.charts.setOnLoadCallback(drawTable);

  function drawTable() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Name');
    data.addColumn('number', 'Nº of Posts');
    data.addColumn('date', 'Date of Last Post');
    data.addColumn('string', 'Name of Last Post');


    data.addRows([
      {% assign authors = site.data.members| sort  %}
      {%- for author in authors -%}     
      {%-if author[1].active == "true"-%}
      {%- else-%}
      {%- continue -%}
      {%- endif-%}
      {%- assign qpost        = site.posts|where:"layout","tutorial"|where:"author",author[0] -%}
      {%- assign lastpost     = qpost[0].date | date: '%Y,%m,%d' -%}
      {%- assign lastpostname = qpost[0].title -%}

      {%- assign npost    = qpost|size -%}
      {%- if npost==0 -%}{% continue %}{%- endif -%}
      ['{{author[1].name}}',  {{npost}} , new Date({{lastpost}}),'{{lastpostname}}'],
      {% endfor %}
    ]);

    var table = new google.visualization.Table(document.getElementById('table_div_act'));

    table.draw(data, {showRowNumber: true, width: '100%', height: '100%'});
  }
</script>
</head>
<body> 
    {% include nav.html %}
<!-- Page Header -->
<header class="intro-header">
  <div class="container">
    <div class="col-md-10 col-md-offset-1">
      <div class="site-heading">
        <h1 class="title">
          {{ page.title }}
        </h1>
        <hr class="small">
        <span class="subheading">{{ page.description }}</span>
        <hr>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="col-md-10 col-md-offset-1">
      <p>Number of Post is: {{site.posts|where:"layout","tutorial"|size}} and the number of authors is {{site.data.members|size}}. The number of upcoming posts is {{site.posts|where:"layout","pretutorial"|size}}</p>
      <h1> Upcoming posts </h1>
      <div id="table_div_upc"></div>

      {{ content }}
      <h1> Resumen por Autor</h1>
      <hr>
      <div id="table_div"></div>

      <h1> Resumen por Autor Activo</h1>
      <hr>
      <div id="table_div_act"></div>
	</div>
</div>
    {% include footer.html %}
</body>
</html>


