---
layout: default
---

<!-- Page Header -->
<header class="intro-header">
  <div class="container">
    <div class="col-md-10 col-md-offset-1">
      <div class="site-heading">
        <h1 class="title">
          {{ page.title }}
        </h1>
        <hr class="small">
        <span class="subheading">{{ page.description }}</span>
        <hr>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="col-md-10 col-md-offset-1">
		{{ content }}
	</div>
</div>
